@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100,200,700;1,400;1,800&display=swap');


// fonts styles / weights
$fs-pops :'Poppins', sans-serif;
$fw-reg :400;
$fw-bold :700;
$fw-xtra-bold :800;

$ital: 1;


// colors
$clr-purple :hsl(259, 100%, 65%);
$clr-lght-red :hsl(0, 100%, 67%);
$clr-white:hsl(0, 0%, 100%);
$clr-off-white:hsl(0, 0%, 94%);
$clr-lght-grey:hsl(0, 0%, 86%);
$clr-smokey-grey:hsl(0, 1%, 44%);
$clr-off-black:hsl(0, 0%, 8%);
$grey :#716F6F;



